.container {
  text-align: center;
  margin-top: 23px;
}

table {
  margin: auto;
}

input {
  font-size: 34px;
  border-radius: 12px;
  width: 10cm;
  height: 64px;
}

button {
  border-radius: 20px;
  background-color: e0dee6;
  font-size: 30px;
  height: 60px;
  width: 87px;
  margin: 3px;
}

.calc {
  border-radius: 30px;
  display: inline-block;
  padding: 23px;
  background-color: #91dac9;
  border: 2px solid black;
}

h1 {
  font-size: 36px;
  font-family: monospace;
}
